
body{
    background-color: rgb(38, 36, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#computer-status{
    position: absolute;
    top: 3%;
}

#player-status{
    position: absolute;
    top: 3%;
    left: 87%;
}

#player-1{
    position: absolute;
    top: 20%;
}

#player-2{
    position: absolute;
    top: 40%;
}

#score{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 400px;
    height: 400px;
}

#your-ships{
    width: 20px;
}


.missed{
    background-color: white;
}

#game-info{
    position: absolute;
    left: 40%;
    top: 40%;
}

#boards-container{
    display: flex;
    justify-content: space-around;
}

.game-board{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 38px; 
    height: 38px;
    border: solid 1px black;
}

.ships-container{
    width: 800px;
    height: 200px;
    margin: 30px 60px;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.small-1, .small-2, .small-3{
    background-color: blueviolet;
}

.medium-1, .medium-2{
    background-color: rgb(43, 147, 226);
}

.large-1, .large-2{
    background-color: rgb(226, 43, 141);
}

.destroyer{
    background-color: rgb(226, 242, 9);
}

.small-preview{
    width: 40px;
    height: 40px;
    margin: 3px;
}

.medium-preview{
    width: 80px;
    height: 40px;
    margin: 3px;
}

.large-preview{
    width: 120px;
    height: 40px;
    margin: 3px;
}

.destroyer-preview{
    width: 160px;
    height: 40px;
    margin: 3px;
}

#battleshipCanvas{
    margin: 0;
    padding: 0;
    border: 0;
}

#replay-button{
    background-color: greenyellow;
}

.connected, .ready{
    font-weight: normal;
}

.connected span,
.ready span{
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: red;
    vertical-align: middle;

}

span.green{
    background: green;
}

.invisible{
    display: none
}